<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="../introduction/info.html" target="_blank"></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
    
        </ul>
      </div>

      <div class="footer-col footer-col-3 description">
        <p>意气凌霄不知愁,愿上玉京十二楼</p>
        <p>挥剑破云迎星落,举酒高歌引凤游</p>
        <p>千载太虚无非梦,一段衷情不肯休</p>
        <p>梦醒人间看微雨,江山还似旧温柔</p>
      </div>
    </div>

  </div>

</footer>
